@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #282938;
}

h2 {
    position: relative;
    font-size: 6vw;
    font-weight: 700;
    text-transform: uppercase;
    color: #282938;
    -webkit-text-stroke: 0.3vw #38394a;
}
h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #1edada;
    -webkit-text-stroke: 0vw #1edada;
    border-right: 2px solid #1edada;
    white-space: nowrap;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}